
<div class="row " > 
    <p style="font-size: 110%"> The brainstorming phase has ended. We are currently working on turning the ideas into proposals. <br><br>
 <h1>     <%= link_to "Join us here!", "stanfordlorax.slack.com" %></h1></p>


</div>



<h3>Ideas</h3>
<p>Vote on ideas or click on an idea to view the forum discussion.</p>

<%= render 'shared/feed' %>
