.idea-container {
  list-style: none;
  margin: 10px 0 0 0;
  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
  time {
    color: grey;
  }
}

#idea-countdown {
  display: inline;
  font-size: 300%;
  font-weight: bold;
  color: #F3F2F0;
}

#countdown-box{
  background-color:white;
  border: none;
}
